* {
  margin: 0;
  padding: 0;
}
.ant-radio-button-wrapper:not(:first-child)::before {
  width: 0;
}
.ant-select-dropdown {
  border-radius: 10px;
}
.ant-list-item-meta-title {
  font-size: 24px !important;
}
/* p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
} */

.ql-editor p {
  margin-bottom: 12px !important;
  margin-top: 12px !important;
  margin-left: 16px !important;
  text-align: justify !important;
  /* text-indent: 2em !important; */
}
