* {
  margin: 0;
  padding: 0;
}
.ant-radio-button-wrapper:not(:first-child)::before {
  width: 0;
}
.ant-select-dropdown {
  border-radius: 10px;
}
/* p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
} */
